@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" style="padding:0px; background-image : url('/images/restaurant.jpg');background-repeat:no-repeat;
background-size:cover; height:75vh;margin-top:10%;"  >
<div class="container" style="margin-top:-6%;">
    <div class="row" >
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" style="margin:0 auto;display:block;" /></a>
        <h4 class="dodajLokal" style="text-align:right;margin-top:1%;">
            <a asp-controller="Home" asp-action="DodajLokal" style="color:#fff;">Dodaj lokal</a>
        </h4>
    </div>
	</div>
    <h1 style="text-align:center;color:#fff;margin-top:15%;font-family: 'Glass Antiqua', cursive;">Pomożemy Ci znaleźć wymarzone miejsce<br> na Twoje przyjęcie</h1>
</div>

<img src="~/images/info.jpg" style="margin:0 auto;display:block;" />

<div class="container" >
  <h2 style="text-align:center;font-size:30px;color:#333 !important;">Prosimy wybrać rodzaj lokalu, w którym chcą Państwo zorganizować przyjęcie</h2>
        <div id="div1" class="row"  >
            <div class="col-sm-12 col-md-3 " ng-controller="HotelCtrl">
                <h3 class="h3Main">Hotel</h3>
                <img src="/images/hotel.jpg" ng-click="openModal()" />
            </div>
            <div class="col-sm-12 col-md-3 " ng-controller="WeselnyCtrl">
                <h3 class="h3Main">Dom weselny</h3>
                <img src="/images/weselny.jpg" ng-click="openModal()" />
            </div>
            <div class="col-sm-12 col-md-3 " ng-controller="RestCtrl">
                <h3 class="h3Main">Restauracja</h3>
                <img src="/images/restauracja.jpg" ng-click="openModal()" />
            </div>

        </div>
    <div id="div1" class="row">
        <div class="col-md-3 col-sm-12" ng-controller="ApartCtrl">
            <h3 class="h3Main">Apartament</h3>
            <img src="/images/apartament.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12" ng-controller="BankietowaCtrl">
            <h3 class="h3Main">Sala bankietowa/imprezowa</h3>
            <img src="~/images/salaBankietowa.jpg" ng-click="openModal()" />
        </div>
        
        <div class="col-md-3 col-sm-12" ng-controller="SPACtrl">
            <h3 class="h3Main">SPA</h3>
            <img src="/images/SPA.jpg" ng-click="openModal()" />
        </div>
    </div>
    <div id="div1" class="row">
       
        <div class="col-md-3 col-sm-12" ng-controller="KlubCtrl">
            <h3 class="h3Main">Klub</h3>
            <img src="/images/klub.jpg" ng-click="openModal()" />
        </div>
        
        <div class="col-md-3 col-sm-12" ng-controller="KarczmaCtrl">
            <h3 class="h3Main">Karczma</h3>
            <img src="/images/bar.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12"  ng-controller="PubCtrl">
            <h3 class="h3Main">Pub/bar</h3>
            <img src="~/images/pub.jpg" ng-click="openModal()" />
        </div>
    </div>
    <div id="div1" class="row">
      
        <div class="col-md-3 col-sm-12" ng-controller="KawiarniaCtrl">
            <h3 class="h3Main">Kawiarnia</h3>
            <img src="/images/kawiarnia.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12" ng-controller="EscapeCtrl">
            <h3 class="h3Main">Escape Room</h3>
            <img src="~/images/escape room.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12" ng-controller="AgroCtrl">
            <h3 class="h3Main">Gospodarstwo agroturystyczne</h3>
            <img src="~/images/agroturystyczne.jpg" ng-click="openModal()" />
        </div>
    </div>
    <div id="div1" class="row">
        <div class="col-md-3 col-sm-12" ng-controller="ZabawCtrl">
            <h3 class="h3Main">Sala zabaw</h3>
            <img src="~/images/salaZabaw.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12" ng-controller="WspinaczkowaCtrl">
            <h3 class="h3Main">Ścianka wspinaczkowa</h3>
            <img src="~/images/sciankaWspinaczkowa.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12" ng-controller="DomCtrl">
            <h3 class="h3Main">Dom/mieszkanie</h3>
            <img src="~/images/dom.jpg" ng-click="openModal()" />
        </div>
      
    </div>
    
    <div id="div1" class="row">
        <div class="col-md-3 col-sm-12" ng-controller="DomkiCtrl">
            <h3 class="h3Main">Domki letniskowe</h3>
            <img src="~/images/letniskowe.jpg" ng-click="openModal()" />
        </div>

        <div class="col-md-3 col-sm-12" ng-controller="RekreacjaCtrl">
            <h3 class="h3Main">Centrum rekreacji</h3>
            <img src="~/images/centrumRekreacji.jpg" ng-click="openModal()" />
        </div>
        <div class="col-md-3 col-sm-12" ng-controller="EventowaCtrl">
            <h3 class="h3Main">Centrum eventowe</h3>
            <img src="~/images/centrumEventowe.jpg" ng-click="openModal()" />
        </div>
    </div>
</div>
<footer style="padding:30px;">
Regulamin
</footer>
