<h3>Napoje bezalkoholowe</h3>
<p>Proszę wymienić napoje bezalkoholowe , których Państwo oczekują na przyjęciu</p>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="Herbata" name="bezalkoholowe" value="Herbata"></input>
<div class="state  p-info">
            <label for="Herbata">Herbata</label>
        </div></div><br><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="Kawa" name="bezalkoholowe" value="Kawa"></input>
<div class="state  p-info">
            <label for="Kawa">Kawa</label>
        </div></div><br><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="napoje" name="bezalkoholowe" value="Zimne napoje"></input>
<div class="state  p-info">
            <label for="napoje">Zimne napoje</label>
        </div></div><br><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="napo" name="bezalkoholowe" value="Koktajle"></input>
<div class="state  p-info">
            <label for="napo">Koktajle</label>
        </div></div><br><br>

<input type="text" name="bezalkoholowe2"></input> 
<br><br>
 <button class="btn btn-info" ng-click="prevStep()">Cofnij</button>
<button class="btn btn-primary" ng-click="nextStep()">Przejdź dalej</button>
<button class="btn btn-default" ng-click="cancel()">Zamknij</button>