<div class="mainPage">
<h3>Proszę wybrać klimat lokalu<h3>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="Retro" name="klimat" value="Retro"></input>
<div class="state  p-info">
            <label for="Retro">Retro</label>
        </div></div><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="Nowoczesny" name="klimat" value="Nowoczesny"></input>
<div class="state  p-info">
            <label for="Nowoczesny">Nowoczesny</label>
        </div></div><br>

<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="Ekskluzywny" name="klimat" value="Ekskluzywny"></input>
<div class="state  p-info">
            <label for="Ekskluzywny">Ekskluzywny</label>
        </div></div><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="Ekstrawagancki" name="klimat" value="Ekstrawagancki"></input>
<div class="state  p-info">
            <label for="Ekstrawagancki">Ekstrawagancki</label>
        </div></div><br>
<input type="text" name="klimat2"></input>
<br>
 <button class="btn btn-info" ng-click="prevStep()">Cofnij</button>
<button class="btn btn-primary" ng-click="nextStep()">Przejdź dalej</button>
<button class="btn btn-default" ng-click="cancel()">Zamknij</button>
</div>