<div class="mainPage">
<h3>Rodzaj kawy</h3>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="wloska" name="rodzajKawy" value="włoska" class="form-control"></input>
<div class="state  p-info">
            <label for="wloska">Włoska</label>
        </div></div><br><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="espresso" name="rodzajKawy" value="espresso" class="form-control"></input>
<div class="state  p-info">
            <label for="espresso">Espresso</label>
        </div></div><br><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="latte" name="rodzajKawy" value="latte" class="form-control"></input>
<div class="state  p-info">
            <label for="latte">Latte</label>
        </div></div><br><br>
<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="cappuccino" name="rodzajKawy" value ="cappuccino" class="form-control"></input>
<div class="state  p-info">
            <label for="cappuccino">Cappuccino</label>
        </div></div><br><br>
		<div class="pretty p-icon p-jelly p-bigger">
<input type="checkbox" id="przelewowa" name="rodzajKawy" value ="przelewowa" class="form-control"></input>
<div class="state  p-info">
            <label for="przelewowa">Przelewowa</label>
        </div></div><br><br>

<input type="text" name="rodzajKawy2"></input>
  <br><br>
   <button class="btn btn-info" ng-click="prevStep()">Cofnij</button>
  <button class="btn btn-primary" ng-click="nextStep()">Przejdź dalej</button>
  <button class="btn btn-default" ng-click="cancel()">Zamknij</button>
  </div>