<h3>Dodatkowe uwagi, informacje</h3>
<div class="pretty p-icon p-jelly p-bigger">
<textarea type="text" id="uwa" name="uwagi"></textarea><div class="state  p-info">
            <label for="uwa">Prosimy wpisać dodatkowe uwagi do zorgranizowania przyjęcia</label>
        </div></div><br><br>
 <button class="btn btn-info" ng-click="prevStep()">Cofnij</button>
<button class="btn btn-primary" ng-click="nextStep()">Przejdź dalej</button>
<button class="btn btn-default" ng-click="cancel()">Zamknij</button>